.modal-deleteBtn {
  width: 100%;
  text-align: center;
  color: #fff;
  background: #10355b;
  border-radius: 12px;
  margin: 0 auto;
  padding: 18px 8px;
  font-size: 20px;
  font-weight: 700;
}


@media (max-width:1400px){
  .modal-deleteBtn {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}  
}